
header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "one one"
    "two three"
    "four four"
    "five six";
    grid-gap: 20px;
    margin: 20px 10px;
    height: 1800px;
    width: auto;
}
nav {
    float: none;
    margin-right: 15px;
}

i {
    color: black;
}

i:hover {
    color: blue;
}

.One, .Four {
    grid-column: span 2;
}
.One {
    background-image: url(images/trelloclonegt.herokuapp.com_.png);
    background-size: cover;
    grid-area: one;
    background-position: top;
    background-repeat: no-repeat;
}
.Two {
    background-image: url(images/screenshot1.png);
    background-size: cover;
    grid-area: two
}
.Three {
    background-image: url(images/sql-list.jpg);
    background-size: cover;
    grid-area: three;
    background-repeat: no-repeat;
    background-position: right;
}
.Four {
    background-image: url(images/socket-list.png);
    background-size: cover;
    grid-area: four;
    background-position: center;
}
.Five {
    background-image: url(images/simplicity.jpg);
    background-size: cover;
    grid-area: five;
    background-position: left;
}
.Six {
    background-image: url(images/Relaks.JPG);
    background-size: cover;
    grid-area: six;
    background-position: center;
}


@media only screen and (min-width: 600px){
    main {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "one one one two two two two"
        "one one one three three four four"
        "five five six six six four four";
        height: 100vh;
    }
    nav {
        float: right;
    }
}