
header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "one one"
    "two three"
    "four four"
    "five six";
    grid-gap: 20px;
    margin: 20px 10px;
    height: 1800px;
    width: auto;
}
.One, .Four {
    grid-column: span 2;
}
.One {
    background-image: url(images/Self-Portrait.JPG);
    background-size: cover;
    grid-area: one;
    background-position: right;
}
.Two {
    background-image: url(images/095.JPG);
    background-size: cover;
    grid-area: two
}
.Three {
    background-image: url(images/Beer.JPG);
    background-size: cover;
    grid-area: three;
    background-position: center;
}
.Four {
    background-image: url(images/377.JPG);
    background-size: cover;
    grid-area: four;
    background-position: center;
}
.Five {
    background-image: url(images/Pointe-Claire.JPG);
    background-size: cover;
    grid-area: five;
    background-position: center;
}
.Six {
    background-image: url(images/Relaks.JPG);
    background-size: cover;
    grid-area: six;
    background-position: center;
}


@media only screen and (min-width: 600px){
    main {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "one one one two two two two"
        "one one one three three four four"
        "five five six six six four four";
        height: 100vh;
    }
}